.meuNome{

    font-family: 'Courier New', Courier, monospace ;
    align-items: center;
    position: absolute;
    bottom: 900px;
    right: 700px;
}

.Descrição{

    font-family: sans-serif;
}

body{

    background-color:white;
    background-image: url("download.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} 

.resido{
    font-style: italic;
    
}

.Comprometimento{

font-size: 28px;

}

.JavaScript{

    font-size: 26px;
}


.html{

    font-size: 24px;
}

.Css{

    font-size: 22px;
}

.Organi{

    font-size: 20px;
}

.Comunicacao{
    font-size: 18px;
}

.Empatia{
    font-size: 18;
}
.Git{
    font-size: 18px;
}
#link-sobre{
background: #b1b1b1;
color: black;
text-decoration: none;
font-weight: bold;
border-width: 4px;
border-style: solid;
border-top-color: #dfdfdf;
border-right-color: #666; 
border-left-color: #858585; 
}
#link-sobre:hover{
    text-decoration: underline;
    color: #fff;
    background:#b1b1b1;
    font-weight: bold;
    border-color: #b1b1b1;
    
}

#foto{
    background: #b1b1b1;
color: black;
text-decoration: none;
font-weight: bold;
border-width: 4px;
border-style: solid;
border-top-color: #dfdfdf;
border-right-color: #666; 
border-left-color: #858585; 
}
#foto:hover{
    text-decoration: underline;
    color: #fff;
    background:#b1b1b1;
    font-weight: bold;
    border-color: #b1b1b1;
}

#hub{
    background-color: #11a36a ;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    padding:15px 30px ;
    font-size: 16px;
    font-weight: 600;
}
#hub:hover{
    text-decoration: underline;
    color: #54AEFF ;
}
#Linkedin{

    background-color: #11a36a ;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    padding:15px 30px ;
    font-size: 16px;
    font-weight: 600;
}
#Linkedin:hover{
    text-decoration: underline;
    color: #54AEFF ;
}

#jovemnerd{

    background-color: #11a36a ;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    padding:15px 30px ;
    font-size: 16px;
    font-weight: 600;
}
#jovemnerd:hover{
    text-decoration: underline;
    color: #54AEFF ;
}
#artigo{
    background-color: #11a36a ;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    padding:15px 30px ;
    font-size: 16px;
    font-weight: 600;
}
#artigo:hover{
    text-decoration: underline;
    color: #54AEFF ;
}
#description{
    position: absolute;
    right: 900px;
    bottom: 500px;
    width: 30%;
}
#minha-foto{
    margin-top: 15px;
    padding: 8px;
    border-radius: 50px;
   
    
}

